

body {
    text-align: center;
    background-image: url(../images/MiddleEarthBG.jpg);
    background-position: top center;
    background-repeat: repeat;
    background-size: cover;
}

.style {
    border-color: #554020;
    border-style: double;
    border-width: 8px;
    background-color: #678046;
}

#mainDiv {
    width: 960px;
    min-height: 80%;
    box-sizing: border-box;
    padding: 5% 0;
    margin: 5% auto;
}

#timerDiv {
    position: relative;
    top: 20%;
  }

button {
    display: block;
    width: 260px;
    height: 100px;
    margin: auto;
    cursor: pointer;
  }